<!--投票結果ページ-->
<div class="page-name">Voted</div>

<h1>Question</h1>
<p><%= @make.question %></p>
<h1>Category</h1>
<p><%= @category.category_name %></p>
<h1>Options</h1>
<p>質問に最も当てはまる選択肢を選んでください</p>
