<div class="page-name">Login</div>

<%= form_for(:session, url: login_path) do |f|%>

  <p>E-mail</p>
  <p><%= f.text_field :email, value: @user_email %></p>

  <p>Password</p>
  <p><%= f.password_field :password %></p>

  <%= f.submit "Login!", class: "btn btn-default"%>
<% end %>
